# Core functionality - changes here should be rare!
/src/app.py                   @anik-devops11
/src/backend/database.py      @anik-devops11
/src/backend/routers/auth.py  @anik-devops11

# The frontend will need refactored soon to be more object oriented.
/src/static/   @anik-devops11
